{% extends 'base.html' %}

{% block content %}
    <main class="home w-100 m-auto blur">
    <img class="mb-4" src="{{ url_for('static', filename='logo.jpg') }}" alt="DataQ Culture" width="300" height="300">
    <h3>Data Quality Assessment for Cultural Heritage.</h3>
    <p>DataQ Culture is an innovative data quality tool for cultural heritage collections. Developed as a master's project at the Federal University of Espírito Santo (Ufes) in Brazil, it helps professionals and institutions ensure the integrity and accuracy of their data.  Learn more <a href="https://doi.org/10.5007/1518-2924.2023.e90510">in this article</a> (In Brazilian portuguese).</p>
    <p>Based on the international Catalogue of Cultural Objects (CCO) standard, DataQ Culture calculates a quality index reflecting confidence in data integrity and accuracy. This index uses CCO guidelines.</p>
    <p>DataQ Culture offers a simple, efficient solution for ensuring data quality in cultural heritage, enabling the identification and correction of errors before they cause damage.  It also allows real-time monitoring to ensure data remains accurate and up-to-date with CCO standards.</p>
    <a href="{{ url_for('upload') }}" class="btn btn-info">Evaluate</a>

{% endblock %}