{% extends 'base.html' %}

{% block content %}
    <main class="home w-100 m-auto blur">
    <img class="mb-4" src="{{ url_for('static', filename='logo.jpg') }}" alt="DataQ Culture" width="300" height="300">
    <h3>Avaliação de qualidade de dados para acervos culturais.</h3>
    <p>O DataQ Culture (Data Quality Culture) é uma ferramenta inovadora de avaliação de qualidade de dados para acervos culturais. Desenvolvido como projeto de mestrado na Universidade Federal do Espírito Santo (Ufes) no Brasil, o DataQ Culture foi criado para ajudar profissionais e instituições a garantir a integridade e a precisão dos dados em seus acervos culturais. Veja mais detalhes <a href="https://doi.org/10.5007/1518-2924.2023.e90510">neste artigo</a>.</p>
    <p>Baseado no guia de catalogação de objetos culturais CCO (Catalogue of Cultural Objects), guia de referência internacional, o DataQ Culture permite aos usuários calcular um índice de qualidade que reflete o nível de confiança na integridade e na precisão dos dados em um acervo cultural. Esse índice é baseado em uma série de critérios de acordo com as diretrizes estabelecidas pelo CCO.</p>
    <p>O DataQ Culture oferece uma solução fácil e eficiente para garantir a qualidade dos dados em acervos culturais, possibilitando a identificação de problemas e a correção de erros antes que eles sejam ampliados ou causam danos irreparáveis. Além disso, o DataQ Culture também pode ser usado para monitorar a qualidade dos dados em tempo real e para garantir que os dados em um acervo cultural sejam mantidos precisos e atualizados, de acordo com as normas internacionais estabelecidas pelo CCO.</p>
    <a href="{{ url_for('upload') }}" class="btn btn-info">Avaliar</a>

{% endblock %}