{% extends 'base.html' %}

{% block content %}
<main class="home w-100 m-auto">
    <p style="color:green;">The file "{{ nome_arquivo | safe}}" received successfully!</p>
    <p><b>Delimiter:</b> '{{ delimitador }}'. <b>Encoding:</b> '{{ encoding }}'.</p>
    <p>You will be redirected in <span id="countdown">2</span> seconds...</p>
<script>
    var countdownElement = document.getElementById("countdown");
    var countdownTime = 2;

    var timer = setInterval(function() {
        countdownTime--;
        countdownElement.innerHTML = countdownTime;
        if (countdownTime <= 0) {
            clearInterval(timer);
            window.location = '{{ url_for("alinhamento") }}';
        }
    }, 1000);
</script>
    <br>
    <p>If you are not redirected, click <a href="{{ url_for('alinhamento') }}">here</a></p>
{% endblock %}