{% extends 'base.html' %}

{% block content %}
<main class="home w-100 m-auto">
    <p style="color:green;">The file "{{ nome_arquivo | safe}}" received successfully!</p>
    <p><b>Delimiter:</b> '{{ delimitador }}'. <b>Encoding:</b> '{{ encoding }}'.</p>
    <p>You will be redirected in 2 seconds...</p>
    <script>
        var timer = setTimeout(function() {
            window.location='{{ url_for('alinhamento') }}'
        }, 2000);
    </script>
    <br>
    <p>If you are not redirected, click <a href="{{ url_for('alinhamento') }}">here</a></p>
{% endblock %}