{% extends 'base.html' %}

{% block content %}
<main class="home w-100 m-auto">
    <p style="color:red;">Error reading the CSV file: '{{ nome_arquivo }}'</p>
    <p>Check the delimiter used or the file's <i>encoding</i> and try again.</p>

    <p>You will be redirected in 12 seconds...</p>
    <script>
        var timer = setTimeout(function() {
            window.location='{{ url_for('index') }}'
        }, 12000);
    </script>
    <br>
    <p>If you are not redirected, click <a href="{{ url_for('index') }}">here</a></p>
{% endblock %}