{% extends 'base.html' %}

{% block content %}
<main class="home w-100 m-auto">
    <p style="color:red;">Erro ao ler o arquivo CSV: '{{ nome_arquivo }}''</p>
    <p>Verifique o delimitador utilizado ou <i>encoding</i> do arquivo e tente novamente.</p>

    <p>Você será redirecionado em 12 segundos...</p>
    <script>
        var timer = setTimeout(function() {
            window.location='{{ url_for('index') }}'
        }, 12000);
    </script>
    <br>
    <p>Caso não seja redirecionado, clique <a href="{{ url_for('index') }}">aqui</a></p>
{% endblock %}