<!--Desenvolvido pelo Abeil coelho Junior -->
<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="refresh" content="3;url={{url_for('alinhamento')}}" />

    <title>{{title}}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/navbar-bottom/">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>

  <body>
    <div class="container justify-content-center">
      <h1>{{title}}</h1>
      <div class="jumbotron mt-3">
        <p>Arquivo recebido com sucesso!</p>
        <p>Arquivo: {{name}}</p>
        <p>Você será redirecionado em 3 segundos...</p>
      </div>
    </div>  
  </body>
 
</html>
