{% extends 'base.html' %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<main class="home w-100 m-auto blur">
	<h1 class="my-1">Resultados obtidos</h1>
	<p>Os dados abaixo estão fortemente relacionados ao alinhamento realizado na tela de alinhamento.</p>
	<h1>{{ nome_arquivo }}</h1>
	<h3>A adequação dos dados avaliados foi de</h3>
	<h3><b>{{ adequacao_total }}</b> de 100</h3> 
<h3 class="mt-4">Adequação por dimensão</h3>
<div>
	<canvas id="porDimensao"></canvas>
</div>
<script>
	const ctx1 = document.getElementById('porDimensao');

	new Chart(ctx1, {
		type: 'bar',
		data: {
			labels: {{ adequacao_por_dimensao_dimencoes | safe }},
			datasets: [{
				label: '% de adequação',
				data: {{ adequacao_por_dimensao_adequacao }},
				borderWidth: 1
			}]
		},
		plugins: [ChartDataLabels],
		options: {
			scales: {
				y: {
					beginAtZero: true
				}
			}
		}
	});
</script>

<p class="mt-3">Veja abaixo detalhes das dimensões que podem melhorar.</p>

<div>
	{% for dim in dimensoes.dimensao %}
	<div class="my-4"><h4 class="pt-5">{{ dim }}</h4>


		{% if campos[dim] | length == 1 %}
		<p class="mt-2">O elemento <b>{{ campos[dim][0] }}</b> obteve uma adequação de <b>{{ valores_campos[dim][0] }}%</b>.</p>

		<h6>Observe a adequação dos dados às regras:</h6>
		{% for camp in campos[dim] %}
		<div class="mb-5">
			<ul class="list-unstyled">
				{% for rule in regras[camp] %}
					<li>{{ rule }}</li>
				{% endfor %}
			</ul>
		</div>
		{% endfor %}
		{% else %}

		<div>
			<canvas id="a{{ dim | replace(" ", "_") | replace(".", "")}}"></canvas>
		</div>

		<script>
			const a{{ dim | replace(" ", "_")| replace(".", "")}} = document.getElementById('a{{ dim | replace(" ", "_") | replace(".", "")}}');

			new Chart(a{{ dim | replace(" ", "_")| replace(".", "")}}, {
				type: 'bar',
				data: {
					labels: {{ campos[dim] | safe }},
					datasets: [{
						label: '% de adequação em em campo',
						data: {{ valores_campos[dim] }},
						borderWidth: 1,
						borderColor: '#C34A36',
						backgroundColor: '#FF8066',
					}]
				},
				plugins: [ChartDataLabels],
				options: {
					scales: {
						y: {
							beginAtZero: true
						}
					}
				}
			})
		</script>

		<h6>Observe a adequação dos dados às regras:</h6>
		{% for camp in campos[dim] %}
		<div class="mt-5"> 
			{% if regras[camp] | length == 0 %}
			
			{% else %}
				<p class="mb-2">Para o campo <b>{{ camp }}</b>:</p>
				<ul class="list-unstyled">
					{% for rule in regras[camp] %}
						<li>{{ rule }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
		{% endfor %}
		{% endif %}
	</div>
	{% endfor %}
</div>

<hr>

<p>Baixar relatório detalhado, clique no botão "Baixar relatório":</p>
<a href="{{ url_for('download') }}" class="btn btn-info">Baixar relatório</a>
<a href="{{ url_for('index') }}" class="btn btn-primary">Voltar ao início</a>

{% endblock %}